@charset "UTF-8";

body {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", sans-serif;
}

hr {
    box-sizing: content-box;

    width: 80%;
    max-width: 80rem;

    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    border-left: 0;

    margin: 1rem auto;

    clear: both;
}